body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#diagrams > div { height: 375px; }
g.pseudo circle { display: none; }
path.edge { fill: none; stroke: #aaa; stroke-width: 1.2px; }

path.arc {}
path.chord { fill-opacity: .67; }
