/* Page dimensions */
body { position: relative; padding-top: 40px; }
#diagrams > div { height: 350px; margin: 0; }
#ambrose-view-progress-bar {}
#ambrose-view-chord {}
#ambrose-view-graph {}

/* Progress Bar view */
.ambrose-view-progress-bar { position: relative; }
.ambrose-view-progress-bar .number { position: absolute; top: 20px; right: 10px; font-size: 50px; opacity: 0.1; }
.ambrose-view-progress-bar .progress { margin: 20px 0px; }

/* Table view */
.ambrose-view-table td.job-mappers,
.ambrose-view-table td.job-reducers { white-space: nowrap; }
.ambrose-view-table a,
.ambrose-view-table a:link,
.ambrose-view-table a:visited,
.ambrose-view-table a:hover,
.ambrose-view-table a:active { color: #000; text-decoration: none; }

/* Chord view */
.ambrose-view-chord {}

/* Graph view */
.ambrose-view-graph path.edge { fill: none; stroke: #aaa; stroke-width: 1.2px; }
